.hoover {
  width: 10px;
  height: 10px;
  background: url(../hoover.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition-property: left bottom;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
